<!DOCTYPE html>
<html>
  <head>
    <title>Open Issues</title>
  </head>
  <body>


    <h1>Find Open Issues</h1>
    <form action="/getData" method="GET">
      <h4>{{errors}}</h4>
      <b>Link</b>
      <input type="text" name="link" value="{{link}}">
      <input type="submit" value="Submit">
    </form>

    <h4> Total number of open issues : {{total}}</h4>
    <h4>Number of open issues that were opened in the last 24 hours : {{inLast24}}</h4>
    <h4>Number of open issues that were opened more than 24 hours ago but less than 7 days ago : {{inLast7}}</h4>
    <h4>Number of open issues that were opened more than 7 days ago : {{before7}}</h4>

  </body>
</html>
